.main-footer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--themeblack);
    padding: 1rem 4.5rem;
    /* position: absolute; */
}

.sub-footer{
    display: flex;
    align-items: center;
    width: 100%;
}

.sub-footer p{
    color: #f7f7f7;
    font-size: 1.6rem;
}

.sub-footer span{
    color: #c9c9c9;
    font-size: 1rem;
}

.to-top{
    content: " ";
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    position: absolute;
    margin: 0 0 0 30rem;
    background: #13B05B;
    border-radius: 50%;
    z-index: 50;
}
.to-top-icon{
    color: #f7f7f7;
    position: absolute;
    margin: 0 0 0 30.75rem;
    font-size: 2rem;
    z-index: 51;
    cursor: pointer;
}