@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');

*{box-sizing: border-box;}

*::selection{
  user-select: none;
}
.App {
  width: 100%;
  height: 70%;
  position: absolute;
  text-align: center;
}


/* Navbar */
.navbar{
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0.8rem 0;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  /* background-color: #e6e6e6c0; */
  background-color:#2d473948;
  position: fixed;
  z-index: 999;
}
a{
  text-decoration: none;
}

.github-icon-a{
  width: 3%;
  position: absolute;
  cursor:auto;
}

.navbar-icon{
  width: 100%;
  font-size: 2.2rem;
  color: #f7f7f7;
  cursor: pointer;
  margin: 0 0 0 39rem;
}


/* LOGO */
h1{
  font-family: 'Mooli', sans-serif !important;
  font-size:2.5rem;
  color: #13B05B;
}
h1 span{
  /* color: #141414; */
  color: #f7f7f7;
  padding: 100px 0 0 0;
}

h1::selection{
  background: #141414;
  color: #f7f7f7;
}
span::selection{
  background: #13B05B;
  color: #f7f7f7;
}

/* Footer */
.main-footer{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--themeblack);
  padding: 1rem 4.5rem;
}

.sub-footer{
  display: flex;
  align-items: center;
  width: 100%;
}

.sub-footer p{
  color: #f7f7f7;
  font-size: 1.6rem;
}

.sub-footer span{
  color: #c9c9c9;
  font-size: 1rem;
}

.to-top{
  content: " ";
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  position: absolute;
  margin: 0 0 0 30rem;
  background: #13B05B;
  border-radius: 50%;
  z-index: 50;
}
.to-top-icon{
  color: #f7f7f7;
  position: absolute;
  margin: 0 0 0 30.75rem;
  font-size: 2rem;
  z-index: 51;
  cursor: pointer;
}